.product-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.product-table thead {
    background-color: transparent;
}

.product-table th,
.product-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.product-table th {
    color: #fff;
    font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
    background-color: transparent;
}

.product-table td {
    color: #fff;
}

.product-table .price {
    font-weight: bold;
}

.product-table img {
    width: 20%;
}

.checkout-container {
    margin: 20px 0;
    text-align: right;
}

.btn-checkout {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(67 88 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-checkout:hover {
    background-color: rgb(45, 51, 33);
}

.btn-checkout:focus {
    outline: none;
}

.btn-checkout:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}